.App {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; 
}

.Container{
  background: black;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FlexStyles {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 50%;
}

.TextAreaStyles{
  margin-top: 1em;
}

.Comment{
  margin-left: 2em;
}

.FormStyles{
  display: contents;
}

.SubmitButton{
  width:10em;
  margin-top: 1em;
}